body {
    position: relative;
    font-size: 12px;
    text-shadow: 1px 1px #eee;
    width: 600px;
    margin: 0 auto;
}
a {
    color: #4183C4;
}
h1 {
     font-size: 18px;
     padding: 20px;
}
.back {
    position: absolute;
    top: 40px;
    right: 10px;
}
.box {
    padding: 10px 30px;
    border: 1px solid #ccc;
    margin-bottom: 30px;
    border-radius: 5px;-moz-border-radius: 5px;-webkit-border-radius: 5px;
    background: -moz-linear-gradient(top, #fff, #F3F3F3);
    background: -webkit-linear-gradient(top, #fff, #F3F3F3);
    background: -o-linear-gradient(top, #fff, #F3F3F3);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFFFF, endColorstr=#FFF3F3f3);
    box-shadow: 2px 5px 15px #c6c6c6;
}
.box h2 {
    font-size: 16px;
    margin-bottom: 10px;
}
.box ul{
}
.box li {
    float: left;
    width: 460px;
    list-style: disc inside;
}
.box p,
.box li {
    line-height: 2em;
}
